{% extends "layout.jinja" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="card card-inverse card-success text-center">
        <div class="card-block">
          <h4 class="card-title">
            Good to hack on TWD.org
          </h4>
          <p class="card-text">If you're seeing this, things are probably working!</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
