<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Tulsa Web Devs{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  {% block body %}
  {% endblock %}
  {% if debug -%}
  <script src="//127.0.0.1:2992/js/bundle.js"></script>
  {%- else -%}
  {{ render_bundle('main') }}
  {%- endif %}
</body>
</html>
